html {
  background-color: #345;
  font-size: 24px;
  font-family: "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
}

.header {
  background-color: #345;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 0 30px;
}

.header .text {
  display: inline-block;
  color: #abc;
  margin: 0;
  font-size: 30px;
  line-height: 50px;
}

.controls {
  display: inline-block;
  float: right;
}

.controls input {
  width: 70px;
}

.controls label {
  font-size: 18px !important;
}

.button {
  border-radius: 2px;
  background-color: #abc;
  border: 0;
  box-shadow: none;
}

.button:hover {
  background-color: #bcd;
}

#update {
  display: none;
}

.half {
  position: absolute;
  top: 50px;
  bottom: 10px;
  width: 50%;
}

.left {
  background-color: #456;
  float: left;
  left: 0;
}

.right {
  background-color: #435363;
  float: right;
  right: 0;
}

#input {
  width: 100%;
  height: 100%;
}

#output {
  height: 100%;
}
